.Weather {
  padding: 20px 50px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.Weather .form-control {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #83580b;
  margin: 0 15px;
}

.Weather .btn {
  background: white;  
  color: #83580b;
  font-weight: 500;
  border: 1px solid #83580b;
}

.Weather .btn:hover {
  background: #83580b;
  color: white;
  cursor: pointer;
}

.Weather h1 {
  color: #83580b;
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 0;
}

.Weather .current-place {
  margin: 5px 0 0 70px;
  text-align: left;
}

.Weather canvas {
  float: left;
  margin: 15px 5px 0 70px;
}

.Weather .temperature {
  color: #83580b;
  font-size: 54px;
  font-weight: 700;
}

.Weather .unit {
  color: #83580b;
  position: relative;
  font-size: 16px;
  top: -26px;
}

.Weather ul {
  margin: 10px 0;
  padding: 0;
  line-height: 1.5;
}

.Weather li {
  list-style: none;
  color: #83580b;
  font-size: 18px;
  font-weight: 500;
}